<html>
  <body>
    <h1>{{name}}</h1>
    <img src="http://localhost:9997/api/image">
    <form action="http://localhost:9997/api/form" method="POST">
      <input type="submit" value="Submit form" />
    </form>
    <button id="get">GET CORS</button>
    <button id="post">POST CORS</button>
    <script type="text/javascript">
      function makeRequest(method, url) {
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.open(method, url, true);
        xhr.addEventListener('error', () => console.error('error'));
        xhr.addEventListener('load', () => console.log('response:', xhr.responseText));
        xhr.send();
      }
      document.querySelector('#get').onclick = () => makeRequest('GET', 'http://localhost:9997/api/get');
      document.querySelector('#post').onclick = () => makeRequest('POST', 'http://localhost:9997/api/post');
    </script>
  </body>
</html>
