<html>
  <head>
    {{#if safari}}
      <meta name="referrer" content="never">
    {{/if}}
  </head>
  <body>
    <h1>{{name}}</h1>
    <img src="http://localhost:9997/api/image">
    <form action="http://localhost:9997/api/form" method="POST">
      <input type="submit" value="Submit form" />
    </form>
    <button id="get">GET CORS</button>
    <button id="post">POST CORS</button>
    <button id="post-json">POST CORS JSON</button>
    <button id="post-beacon">POST CORS via beacon</button>
    <script type="text/javascript">
      var $ = document.querySelector.bind(document);
      function makeRequest(method, url, headers, data) {
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.open(method, url, true);
        for (var header in headers || {}) {
          if (Object.prototype.hasOwnProperty.call(headers, header)) {
            xhr.setRequestHeader(header, headers[header]);
          }
        }
        xhr.addEventListener('error', console.error.bind(console, 'error'));
        xhr.addEventListener('load', function() {
          console.log('response:', xhr.responseText);
        });
        xhr.send(data || null);
      }
      $('#get').addEventListener('click', function() {
        makeRequest('GET', 'http://localhost:9997/api/get');
      });
      $('#post').addEventListener('click', function() {
        makeRequest('POST', 'http://localhost:9997/api/post');
      });
      $('#post-json').addEventListener('click', function() {
        makeRequest('POST', 'http://localhost:9997/api/post', {
          'content-type': 'application/json'
        }, '{}');
      });
      $('#post-beacon').addEventListener('click', function() {
        var data = new Blob([JSON.stringify({foo: 'foo'})], {type : 'application/json'});
        navigator.sendBeacon('http://localhost:9997/api/post', data);
      });
    </script>
  </body>
</html>
